body {
  font-family: 'Libre Franklin', sans-serif;
  background-color: #cff1ef;
}

.book-list {
  text-align: center;
  font-size: 24px;
}

#card-content {
  padding: 20vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10vh;
  justify-content: center !important;
  margin: 20px 50px;
  max-width: 100vw;
  margin-top: -5vh;
}

.bookTitle {
  color: #843cb9;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 2px solid#843cb9;
  background-color: #fbcffc;
  padding: 10px 10px;
  height: 40px;
}

.card-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: #fff;
  height: 180px;
}

#book {
  margin: 10px 20px;
  font-size: 36px !important;
  color: #4d4343;
}

.book {
  border: 3px solid #843cb9;
  border-radius: 4px;
}

.delete {
  margin-left: 130px;
  cursor: pointer;
  font-size: 14px;
  color: #4d4343;
}

#newBook {
  font-size: 60px;
  cursor: pointer;
}

.description {
  color: #843cb9;
  font-size: 14px;
  text-align: center;
  padding: 4px 10px;
}

#modal label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#modal input[type='text'],
#modal input[type='number'] {
  padding: 12px 14px;
  font-size: 1em;
  font-weight: 400px;
  letter-spacing: 0.1em;
  width: 300px;
  border-radius: 2px;
  border: 2px solid #056676;
  background-color: #056676;
  color: #e8ded2;
}

#modal input[type='text']::placeholder,
#modal input[type='number']::placeholder {
  color: #fff;
  font-size: 15px;
}

#modal {
  background-color: #a3d2ca;
  padding: 0px 0px 40px 0px;
  margin: 0px 0px 20px 00px;
  border-radius: 10px;
  width: 500px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#modal div {
  padding-bottom: 10px;
}

#modal #submit {
  padding: 13px 14px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-radius: 2px;
  border: 2px solid #056676;
  background-color: #a3d2ca;
  width: 300px;
  color: #056676;
}

#modal #submit:hover {
  border-color: #e8ded2;
  background-color: #056676;
  color: #fff;
  border: 2px solid #056676;
}

.wrapper {
  position: relative;
}

.read select {
  display: inline-block;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMCIgeT0iMCIgdmlld0JveD0iLTE3LjUgLTEuMyA1MC4xIDI3LjkiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5bGluZSBwb2ludHM9IiAxNi4xIDguNSA3LjYgMTcgLTAuOSA4LjUgIiBzdHlsZT0iZmlsbDpub25lO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2Utd2lkdGg6MztzdHJva2U6I2ZmZiIvPjwvc3ZnPg==') !important;
  background-repeat: no-repeat !important;
  background-position: right !important;
  background-size: 35px 29px !important;
  border-radius: 2px;
  border: 2px solid #056676;
  background-color: #056676;
  color: #fff;
  padding: 12px 14px;
  font-size: 1em;
  font-weight: 400px;
  letter-spacing: 0.02em;
  width: 300px;
  margin: 0;
  padding-right: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.read select::-ms-expand {
  display: none;
}

input:focus,
select:focus,
button:focus {
  outline: none;
}

.myForm-title {
  color: #e8ded2;
  margin-bottom: 28px;
  font-size: 30px;
  background-color: #056676;
  width: 500px;
  padding-top: 10px;
  border-color: #056676;
}

#modal p {
  color: #056676;
}

#close {
  color: #e8ded2;
  padding-left: 18em;
  padding-top: 8px;
  margin-bottom: -2px;
  background-color: #056676;
  width: 68px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  border-color: #056676;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
  transition-property: background-color, color;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.delete {
  height: 40px;
  padding: 10px 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
}
